  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: sans-serif;
      overflow: hidden;
 
      background-color: var(--bg-color);

    }

    button{
        width: fit-content;
        padding: 5px 10px 5px 10px;
        height: fit-content;
        border-radius: 8px;
        background-color: blue;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }

    button:hover{
        background-color: blueviolet;
        scale: 1.1;

    }


:root {
  --bg-color: #0c162a;
  --text-color: #876767;
  --primary-color: #4f4568;
  --secondary-color: #212c5a;
  --box-border-color: #91919ffb;
  --accent-color: #635252;
  --hovered-color: #bbe9218a;
  --circle-color: #001cbc;
      --particle-color: #302ae6f2;
      --gameOver-color:#212c5ac2;
}

/* Red Theme */
[data-theme="red"] {
  --bg-color: #860f0f;
  --text-color: #ffa1a1;
  --primary-color: #956815;
  --secondary-color: #a31919f2;
  --box-border-color: #d58000fd;
  --accent-color: #7bb900;
  --hovered-color: #13380830;
  --circle-color: #6f02e3;
      --particle-color: #3a3df6f2;
        --gameOver-color:rgba(120, 5, 5, 0.759);
}
/* Blue Theme */
[data-theme="blue"] {
  --bg-color: #0d086d;
  --text-color: #6493ef;
  --primary-color: #10519a;
  --secondary-color: #084681;
 --box-border-color: #ff0000c0;
  --accent-color: #cc1f00;
  --hovered-color: #6784e7dc;
    --circle-color: #e90303;
    --particle-color: #ff0707f2;
     --gameOver-color: #084781a7;
}
