
    .circle {
      background-color: var(--circle-color);
      width: 100%;
      aspect-ratio: 1 / 1; /* Ensures it's always a square */
      transition: all 0.3s ease-in-out;
      border-radius: 8px;
      position: relative;
    }
    .circle:hover {
      cursor: pointer;
    }


    .circle.red:hover{
      background-color: rgb(129, 3, 3);
    }
    .circle.red{
      background-color: red;
       box-shadow: 0 0 2px 2px rgb(255, 28, 28));

    }
    .circle.blue:hover{
      background-color: rgb(3, 3, 99);
    }
    .circle.blue{
    box-shadow: 0 0 2px 2px rgb(69, 69, 255);

    }