
    .circle {
      position: absolute;
      background-color: #333;
      width: 80%;
      aspect-ratio: 1 / 1; /* Ensures it's always a square */
      border-radius: 50%; /* Makes it a circle */
      transition: all 1s ease-in-out;
    }
    .circle:hover {
      background-color: rgb(81, 73, 244);
      cursor: pointer;
    }

    @keyframes pop {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.2);
        opacity: 0.5;
      }
      100% {
        transform: scale(0);
        opacity: 0;
      }
    }
